@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    /* overflow: hidden; */
    background-color: #FFEDD5;
    font-family: "Nunito", sans-serif;
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

aside{
    /* border: 1px solid; */
    width: 314px;
    height: 86vh;
    margin-top: 20px;
    background-color: #FFFFFF;
    border-radius: 30px;
    padding: 30px;
    margin-left: 20px;
    /* margin-right: 120px; */
}

.cabecalho-lateral{
    border-bottom: 2px solid #c7c5c5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.cabecalho-lateral img{
    width: 25px;
}

.menu{
    margin-top: 20px;
}

.menu h3{
    font-size: 8px;
    color: #bfbfbf;
    margin-bottom: 10px;
}

.menu nav{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu nav a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    align-items: center;
    color: #4A4A4A;
    font-size: 15px;
}

.links{
    /* border: 1px solid; */
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.perfil {
    display: flex;
    gap: 20px;
    align-items: center;
}

.perfil .informacoes {
    /* border: 1px solid; */
    display: flex;
    flex-direction: column;
}

.perfil .informacoes h3{
    margin-bottom: -5px;
}

.perfil .informacoes p{
    /* color: #9d9d9d; */
    font-size: 11px;
    font-weight: 700;
}

main{
    margin-top: 70px;
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: 120px;

}

.cabecalho-central{
    /* border: 1px solid black; */
    width: 100%;
    /* border-bottom: 2px solid #c7c5c5; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho-central .texto{
    border-left: 6px solid #F36F00;
    padding-left: 10px;
    margin-bottom: 15px;
}

.cabecalho-central .fogo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.fogo .numero{
    color: #ff5800;
    font-size: 20px;
}

.texto h2{
    font-size: 13px;
    color: #9d9d9d;
}

.jornadas{
    /* border: 1px solid; */
    margin-top: 20px;
    /* display: flex; */

}

.aluno-jornadas{
    /* border: 1px solid; */
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.jornadas .sua-jornada-titulo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.jornadas .jornada{
    /* border: 1px solid; */
    margin-top: 20px;
    width: 223px;
    height: 271px;
    border-radius: 20px;
    background-color: #FAF6F6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.jornada2{
    height: 70% !important;
    border-radius: 20px;
}

.jornada .jornada-imagem img{
    width: 100%;
}

.jornada .jornada-informacoes{
    /* border: 1px solid;   */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.jornada .jornada-informacoes2{
    /* border: 1px solid;   */
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: -75px;
}

.jornada-informacoes h2, .jornada-informacoes2 h2{
    font-size: 20px;
}

.jornada-informacoes .ball, .jornada-informacoes2 .ball{
    width: 40px;
    height: 40px;
    /* border: 1px solid; */
    background-color: #F36F00;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.footer-main{
    /* border: 1px solid; */
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
    text-align: center;
}

.footer-main p{
    color: #9d9d9d;
}

.detalhe{
    margin-top: 23px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}   

.footer-main .traco{
    border: 1px solid #9d9d9d;
    width: 33.3%;

}

.menu-lateral{
    background-color: #FAF6F6;
    box-shadow: -2px 2px 5px rgba(183, 183, 183, 0.593);
    height: 92%;
    margin-top: 0 !important;
}

.lateral-direita{
    /* border: 1px solid; */
    width: 100%;
    height: 100%;
}

.lateral-direita .item{
    /* border: 1px solid; */
    margin-top: 40px;
}

.item h1{
    color: #4B5563;
    font-size: 36px;
}

.item .dias{
    margin-top: 20px;
    /* border: 1px solid; */
    text-align: center;
}

.dias p{
    color: #B3B3B3;
    font-size: 12px;
}

.dias table{
    /* border: 1px solid; */
    width: 100%;
    border-spacing: 10px;
}

table th{
    color: #B3B3B3;
    font-size: 12px;
}

.final-semana{
    color: #F36F00 !important;
}

table td{
    font-size: 12px;
    /* border: 1px solid; */
    width: 24px;
    height: 24px;
    border-radius: 5px;
}

.contagem-semanal{
    color: #F96218;
    background-color: #FB8B24;
}

.mes-atual{
    color: #B3B3B3;
}

.final-semana-outro-mes{
    color: #B23913;
}