@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: "Nunito", sans-serif;
    margin: 10px;
    padding-top: 20px;
    border: 1px solid;
    height: 100vh;
}

header{
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid black;
    padding: 10px;
}

main{
    width: 100%;
}

table{
    width: 100%;
    /* border: 1px solid; */
    margin-top: 40px;

    border-collapse: collapse;
}

tr th{
    border: 1px solid;
}

tr td{
    border: 1px solid;
   text-align: center;    
}